---
layout: project
title: XDefiant
---
{% assign project = site.data.projects.c_xdefiant %}
<div class="container-fluid mb-1">
      <div class="row" style="background-image: url('/assets/images/xdefiant/pagebackground.webp'); z-index: -1;">
        <div class="offset-lg-3 col-lg-6 bg-light mt-5 p-4">
            <h1 class="display-1 mt-3" style="font-size: max(3em, 8vw);">{{ project.title }}</h1>
            <p class="lead">{{ project.description }}</p>
        {% assign slide-content-list = "
        video;https://www.youtube.com/embed/VUv3ug_uHkE,
        image;/assets/images/xdefiant/xdefiant_screen_1.webp,
        image;/assets/images/xdefiant/xdefiant_screen_2.webp,
        image;/assets/images/xdefiant/xdefiant_screen_3.png,
        image;/assets/images/xdefiant/xdefiant_screen_4.png" | split: "," %}
        {% assign thumbnails = "
        /assets/images/xdefiant/thumbnail_video.png,
        /assets/images/xdefiant/xdefiant_screen_1.webp,
        /assets/images/xdefiant/xdefiant_screen_2.webp,
        /assets/images/xdefiant/xdefiant_screen_3.png,
        /assets/images/xdefiant/xdefiant_screen_4.png" | split: "," %}
        {% include thumbnail-carousel.html slide-content=slide-content-list
          thumbnail-images=thumbnails
          carousel-id="fired-up-thumbnail-carousel" %}
        </div>
        <div class="col-lg-3 my-2 mt-3 sticky-lg-top py-2">
          {% include project-info.html project=project%}
        </div>
        <div class="offset-lg-3 col-lg-6 bg-light mb-5">
          <div class="mt-3 p-3">
          </div>
        </div>
    </div>
</div>
<div class="jumbotron mt-1 pt-1">
  <div class="container-fluid">
    <div class="row justify-content-md-center align-items-start">
      <div class="col-md-6 p-3">
        <div class="row my-2 p-2">
          <h2 class="col-12">My missions</h2>
          <hr class="col-12">
          <div class="col-12">
            <h3>Gameplay Programming</h3>
            <ul>
              <li>Implementing <b>sticky gadgets</b> behavior</li>
              <li>Implementing <b>visual scripting nodes</b> for Tech Game Designers</li>
              <li><b>Fixing bugs</b> on the existing codebase: <b>AI behavior trees, score system,
                damage system, game modes, gadgets, ultimates</b>.
              </li>
              <li><b>Code reviews</b></li>
            </ul>
          </div>
        </div>
        <!-- For this game, we wanted our players to have fun together discovering the many ways there are to put down the fire in a chaotic mood.
        Players can use anything they like to extinguish the fire: real tools like an extinguisher, but also ordinary objects found in the house. From an aquarium to a cardboard filled in the pool.

        <p>We were two game designers on this project, so we had to split
            tasks and to organize ourselves to be more efficient.
            </p> -->
        <!--<div class="alert alert-primary alert-dismissible fade show" role="alert">

           <i class="bi bi-info-circle-fill"></i> 
           We were two game designers on this project. Go checkout the work of <b>Keltoum</b>!
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
             <span aria-hidden="true">&times;</span>
          </button>
        </div>-->
      </div>
    </div>
  </div>
</div>