{% include nav.html %}
<div class="fluid-container bg-dark">
  <div class="fat-container px-4 py-5 bg-dark">
    <h1 class="display-3 mb-5 text-center text-light">Games</h1>
    {% assign sorted_projects = site.data.projects | sort %}
    {% include project_list.html projects=sorted_projects %}
  </div>
</div>
<hr class="my-5">
<div class="jumbotron-fluid mx-0 px-0 paralsec paral">
  <div class="px-3 py-5 my-0 text-left">
    <div class="container-fat">
      <!-- Example row of columns -->
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-6">
          <img class="rounded-circle col-12 img-fluid" src="{{ "/assets/images/updated_profile_picture.webp" | prepend: site.baseurl_root }}" />
        </div>
        <div class="col-md-6 my-3">
          <h1>Who am I?</h1>
          <b>I make games for people to play.</b> That's why I always include user experience in my design process.
          I am convinced that <b>Informed decisions make better games</b>
          Research, fast prototyping, metrics and focused iterations
          are my main tools to make them.
          Making games is about teamwork.
            I care about others and their challenges.
            I ensure a common vision through
            clear and synthetic documents and presentations.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="w-100 my-0 py-5 bg-dark">