<div id="myCarousel" class="carousel slide my-0" data-bs-ride="carousel" data-bs-interval="20000">
  <div class="carousel-indicators">
    {% assign index = 0 %}
    {% assign sorted_projects = site.data.projects | sort %}
    {% for project_hash in sorted_projects %}
    {% assign project = project_hash[1] %}
    {% if project.featured %}
    {% assign index = index | plus: 1 %}
    {% assign index0 = index | minus: 1 %}
    {% if index == 1 %}
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ index0 }}" class="active" aria-current="true" aria-label="Slide {{ index }}"></button>
    {% else %}
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ index0 }}" aria-label="Slide {{ index }}"></button>
    {% endif %}
    {% endif %}
    {%endfor%}
  </div>
  <div class="carousel-inner">
    {% assign index = 0 %}
    {% assign sorted_projects = site.data.projects | sort %}
    {% for project_hash in sorted_projects %}
    {% assign project = project_hash[1] %}
    {% assign project_id = project_hash[0] %}
    {% assign tproject = site.data.i18n.[site.lang].projects[project_id] %}
    {% if project.featured %}
    {% assign index = index | plus: 1 %}
    {% if index == 1 %}
    <div class="carousel-item active">
    {% else %}
    <div class="carousel-item">
    {% endif %}
      <video title="{{ project.title }}" preload="auto" autoplay loop muted class="first-slide carousel-item-background">
        <source src="{{ project.sd-no-sound-video | prepend: site.baseurl_root }}" type="video/mp4">
        <p>{{ tproject.title }}</p>
     </video>
      <div class="carousel-caption text-start rounded bg-light p-3 text-left">         
        <div class="px-2 row">
          <h2 class="py-2 col-12 col-md-6">{{ tproject.title }}</h2>
          <div class="p-2 align-self-end text-md-end col-12 col-md-6" >
            {% include badges.html badges=project.badges %}
          </div>
        </div>
        <div class="d-flex px-2">
          <p class="text-dark col-12 col-md-10 col-lg-8">{{ tproject.description }}</p>
        </div>
        <div class="d-flex px-2">
          <div class="d-flex align-items-end">
            <a class="btn btn-lg btn-primary" href="{% tl {{ project.dedicated-page | default: "#" }} %}" role="button">{% t project-page %}</a>
          </div>
          <div class="ms-auto d-flex flex-column flex-md-row align-items-end">
            <img class="structure-logo mx-3" src="{{ project.structure-logo | prepend: site.baseurl_root }}" alt="{{project.structure-logo-alt}}" />
            {% if project.title == "Fired Up!" %}
            <img class="structure-logo mx-3" src="{{ project.award-logo | prepend: site.baseurl_root }}" alt="{{project.award-logo-alt}}" />
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>