<div class="fat-container position-relative">
  <div class="position-absolute p-5 w-100 h-100" id="work">
    <div class="bg-primary-subtle w-100 h-100">
    </div>
  </div>
    {% assign index = 0 %}
    {% assign sorted_projects = site.data.projects | sort %}
    {% for project_hash in sorted_projects %}
    {% assign project = project_hash[1] %}
    {% assign project_id = project_hash[0] %}
    {% assign tproject = site.data.i18n.[site.lang].projects[project_id] %}
    {% if project.featured %}
    {% assign index = index | plus: 1 %}
    <div class="position-relative">
      <div class="position-absolute w-100 h-100">
        <div class="border border-primary-subtle row m-0 fade-in-slot h-100" style="opacity:1;"></div>
      </div>
  <div class="bg-light basic-fade-in border-0 my-3 border">
     {% assign odd = index | modulo: 2 %}
     {% if odd == 1 %}
    {% assign video-class = "order-lg-last" %}
    {% else %}
    {% assign video-class = "order-lg-first" %}
    {% endif %}
    <div class="row m-0">

     <video title="{{ project.title }}" preload="auto" autoplay loop muted class="col-12 col-lg-6 {{video-class}} p-0">

        <source src="{{ project.sd-no-sound-video | prepend: site.baseurl_root }}" type="video/mp4">
        <p>{{ tproject.title }}</p>
     </video>
      <div class="text-start p-3 bg-light shadow text-left col-12 col-lg-6 d-flex justify-content-between flex-column">         
        <div>
        <div class="px-2 row">
          <h2>{{ tproject.role }}
            <p class="h4">on {{ tproject.title }}</p>
          </h2>
          <div class="p-2 align-self-end text-md-end col-12 col-md-6 d-none" >
            {% include badges.html badges=project.badges %}
          </div>
        </div>
        <div class="d-flex px-2">
          <p class="lead">{{ tproject.description }}</p>
        </div>
        </div>
        <div class="d-flex px-2">
          <div class="d-flex align-items-end">
            <a class="btn btn-lg btn-primary" href="{% tl {{ project.dedicated-page | default: "#" }} %}" role="button">{% t project-page %}</a>
          </div>
          <div class="ms-auto d-flex flex-column flex-md-row align-items-end">
            <img class="structure-logo mx-3" src="{{ project.structure-logo | prepend: site.baseurl_root }}" alt="{{project.structure-logo-alt}}" />
            {% if project.title == "Fired Up!" %}
            <img class="structure-logo mx-3" src="{{ project.award-logo | prepend: site.baseurl_root }}" alt="{{project.award-logo-alt}}" />
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="fixed-bottom d-flex w-100 bottom-0 scroll-discover">
      <div class="fs-4 text-align-center text-light mx-auto mb-5">
        <button href="#work" class="border-primary-subtle d-block bg-primary text-light fs-4 btn btn-primary shadow px-4 py-2 mb-2">
        Scroll to discover my work!
        </button>
        <div class="d-flex justify-content-center">
          <svg width="50px" height="50px" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#367867" stroke="#F8F9FA" stroke-width="15"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M903.232 256l56.768 50.432L512 768 64 306.432 120.768 256 512 659.072z" fill="#367867"></path></g></svg>
        </div>
      </div>
    </div>