<div id="myCarousel" class="carousel slide my-0" data-ride="true" data-interval="20000">
  <ol class="carousel-indicators">
    {% assign index = 0 %}
    {% assign sorted_projects = site.data.projects | sort %}
    {% for project_hash in sorted_projects %}
    {% assign project = project_hash[1] %}
    {% if project.featured %}
    {% assign index = index | plus: 1 %}
    {% assign index0 = index | minus: 1 %}
    {% if index == 1 %}
    <li data-target="#myCarousel" data-slide-to="{{ index0 }}" class="active"></li>
    {% else %}
    <li data-target="#myCarousel" data-slide-to="{{ index0 }}" class=""></li>
    {% endif %}
    {% endif %}
    {%endfor%}
  </ol>
  <div class="carousel-inner">
    {% assign index = 0 %}
    {% assign sorted_projects = site.data.projects | sort %}
    {% for project_hash in sorted_projects %}
    {% assign project = project_hash[1] %}
    {% if project.featured %}
    {% assign index = index | plus: 1 %}
    {% if index == 1 %}
    <div class="carousel-item active">
    {% else %}
    <div class="carousel-item">
    {% endif %}
      <video title="{{ project.title }}" preload="auto" autoplay loop muted class="first-slide carousel-item-background">
        <source src="{{ project.sd-no-sound-video | relative_url }}" type="video/mp4">
        <p>{{ project.title }}</p>
     </video>
      <div class="carousel-caption rounded bg-light p-3 text-left">         
        <div class="row d-flex px-2">
          <h1 class="p-2 col-12 col-md-3">{{ project.title }}</h1>
          <div class="p-2 align-self-end text-md-right ml-md-auto" >
            {% include badges.html badges=project.badges %}
          </div>
        </div>
        <div class="row d-flex px-2">
          <p class="text-dark col-12 col-md-10 col-lg-8">{{ project.description }}</p>
        </div>
        <div class="d-flex px-2">
          <a class="btn btn-lg btn-primary" href="{{ project.dedicated-page | default: "#" }}" role="button">Learn more</a>
          <div class="ml-auto d-flex flex-column justify-content-center">
            <img class="structure-logo mx-3" src="{{ project.structure-logo | relative_url }}" />
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon carousel-control-big-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon carousel-control-big-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>