<div class="container-fluid bg-dark text-white d-flex flex-column">
  <div class="container">
    <footer class="pt-3 mt-4 my-auto">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="/project_library" class="nav-link px-2 text-muted">Project Library</a></li>
      </ul>
        <div class="nav justify-content-center">
          <ul class="list-unstyled">
            <a class="badge badge-light" href="https://linkedin.com/in/amaury-butaux"><li class="bi bi-linkedin"><span class="nav-other-websites-desc"> LinkedIn</span></li></a>
            <a class="badge badge-light" href="https://oramy.itch.io"><li><img src="{{"/assets/images/itchio-textless-black.svg" | relative_url }}" class="inline-image"/><span class="nav-other-websites-desc"> itch.io</span></li></a>
            <a class="badge badge-light" href="https://oramy.github.io/resume.pdf"><li class="bi bi-file-person"><span class="nav-other-websites-desc"> Resume</span></li></a>
          </ul>
        </div> 
      <p class="text-center text-muted">Amaury Butaux</p>
    </footer>
  </div>
</div>