{% include featured-carousel.html %}
<hr class="my-5">
<div class="jumbotron-fluid mx-0 px-0 paralsec paral">
  <div class="px-3 py-5 my-0 text-left">
    <div class="container-fat">
      <!-- Example row of columns -->
      <div class="row d-flex justify-content-between">
        <div class="col-md-4 my-3">
          <h2>User-Centric Design</h2>
          <p class="lead">I make games for people to play.</p>
          <p>That's why I always include user experience<br> in my design process.</p>
        </div>
        <div class="col-md-4 my-3">
          <h2>Rational Design</h2>
          <p class="lead">Informed decisions make better games.</p>
          <p>
            Research, fast prototyping, metrics and focused iterations
            are my main tools to make them.
          </p>
        </div>
        <div class="col-md-4 my-3">
          <h2>Collaborative Design</h2>
          <p class="lead">Making games is about teamwork.</p>
          <p>
            I always think about others' constraints in my design.<br>
            I ensure a common vision through<br>
            clear and synthetic documents and presentations.<br>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="my-0 py-4 bg-primary"></div>
<div class="fat-container px-4 py-5">
  <h2 class="display-3 mb-5 text-center">Games</h2>
  {% assign sorted_projects = site.data.projects | sort %}
  {% include project_list.html projects=sorted_projects %}
</div>
<!--
<hr class="my-5">
<div class="container-fluid bg-dark py-5 d-flex">
  <div class="container px-4 bg-dark">
    <h1 class="display-3 mb-5 text-center text-light">Want more?</h1>
    <p class="lead text-light">
      The projects presented here are the most important to me. <br />
      However, if you want to see more projects and different cross-disciplinary skills, <br />
      you can check out my <a class="btn btn-primary" href="/project_library" role="button">Project Library</a>
    </p>
  </div>
</div>
-->
<hr class="w-100 my-0 py-5 bg-dark">