<div class="bg-primary-subtle shadow">

<div class="fat-container px-2 bg-primary-subtle">
  <p class="px-0 mx-5 pt-5 text-primary hello"><b>Hello! I am Amaury&nbsp;Butaux,</b></p>
<div class="align-self-center mx-0 row mb-5 pt-0 px-0 basic-fade-in-active">
  <div class=" py-0 px-5 mb-4 border-primary col-12 col-md-auto">
    <img  max-width="320" class="h-auto" lt="Profile picture"
      src="{{ "/assets/images/photo_linkedin.webp" | prepend: site.baseurl_root }}" />
  </div>
  <div class="sequential-fade-in px-5 col-auto col-lg-6">

<!--<p class="fs-1 lh-1 py-0 my-1 text-primary align-self-center">
  Hello! I am Amaury Butaux,  </p>-->
  <div class="m-0">
  <p class="fs-3 m-0 mt-3">A <b class="special-emphasis">multi-faceted</b> game designer</p>
  <p class="fs-3 m-0">with <b class="special-emphasis">3 years</b> of professional experience on a shipped PC game.</p>
  <p class="fs-3 m-0">and a strong interest for <b class="special-emphasis">tech</b>, <b class="special-emphasis">UX</b> and <b class="special-emphasis">UI</b>. </p>
  <p></p>
  </div>
</div>
</div>
</div>
</div>
<div class="fat-container px-2">
{% include featured-projects.html %}
<hr class="my-5">
<div class="jumbotron-fluid mx-0 px-0 paralsec paral">
  <div class="px-3 py-5 my-0 text-left">
    <div class="container-fat">
      <!-- Example row of columns -->
      <div class="row d-flex justify-content-between">
        <div class="col-md-4 my-3">
          {% tf home/user-centric-design.html %}
        </div>
        <div class="col-md-4 my-3">
          {% tf home/rational-design.html %}
        </div>
        <div class="col-md-4 my-3">
          {% tf home/collaborative-design.html %}
        </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="my-0 py-4 bg-primary"></div>
<div class="fat-container px-4 py-5">
  <h2 class="display-3 mb-5 text-center">{{ titles.games }}</h2>
  {% assign sorted_projects = site.data.projects | sort %}
  {% include project-list.html projects=sorted_projects %}
</div>
<!--
<hr class="my-5">
<div class="container-fluid bg-dark py-5 d-flex">
  <div class="container px-4 bg-dark">
    <h1 class="display-3 mb-5 text-center text-light">Want more?</h1>
    <p class="lead text-light">
      The projects presented here are the most important to me. <br />
      However, if you want to see more projects and different cross-disciplinary skills, <br />
      you can check out my <a class="btn btn-primary" href="/project_library" role="button">Project Library</a>
    </p>
  </div>
</div>
-->
<hr class="w-100 my-0 py-5 bg-dark">