<div class="bg-light">
    <nav class="px-0 container-fat navbar navbar-expand-lg navbar-light bg-light d-block d-flex align-items-center p-0"
      style="z-index: 1021;">
  <a href="{% tl home %}"
    class="navbar-brand d-flex bg-primary px-4 py-2 align-items-center">
    <img class="rounded-circle d-inline-block mr-3" width="30" height="30" lt="Profile picture"
      src="{{ "/assets/images/photo_linkedin.webp" | prepend: site.baseurl_root }}" />
      <div class="my-auto d-inline-block">
        <h1 class="h5 px-3 my-auto text-light d-inline-block">{{ site.title }}</h1>
        <h2 class="h6 px-0 p-2 my-auto text-light d-none  d-xxl-inline-block">{% t titles.current-role %}</h2>

      </div>
  </a>
      <button class="navbar-toggler ms-auto mx-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse align-items-center flex-grow-1" id="navbarSupportedContent">
        <ul class="navbar-nav d-lg-flex flex-grow-1">
            {% include nav-links.html classInclude="d-lg-none" %}
          <li class="nav-item dropdown ms-3">
            <a class="nav-link dropdown-toggle align-self-center" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Projects
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% assign index = 0 %}
              {% assign sorted_projects = site.data.projects | sort %}
              {% for project_hash in sorted_projects %}
              {% assign project = project_hash[1] %}
              {% assign project_id = project_hash[0] %}
              {% assign tproject = site.data.i18n.[site.lang].projects[project_id] %}
              {% unless project.hidden %}
              {% if project.featured %}
              {% assign index = index | plus: 1 %}
              <li><a class="dropdown-item" href="{% tl {{project.dedicated-page}} %}">{{ tproject.title }}</a></li>
              {% endif %}
              {% endunless %}
              {% endfor %}
            </ul>
          </li>
            {% include nav-links.html classInclude="d-none d-lg-flex"%}
        </ul>
      </div>
    </nav>

  </div>