
            <li class="nav-item {{include.classInclude}} d-flex ms-3"><a class="text-decoration-none nav-link" href="https://linkedin.com/in/amaury-butaux">LinkedIn <span class="nav-other-websites-desc bi bi-linkedin"></span></a></li>
            <li class="nav-item {{include.classInclude}} d-flex ms-3"><a class="text-decoration-none nav-link" href="https://oramy.itch.io"><span class="nav-other-websites-desc">itch.io </span><img width="19" height="16" src="{{"/assets/images/itchio-textless-black.svg" | prepend: site.baseurl_root }}" alt="itch.io icon" class="inline-image"/></a></li>
            <li class="nav-item {{include.classInclude}} d-flex ms-3"><a class="text-decoration-none nav-link" href="{{"/resume.pdf" | relative-url}}">{% t nav.resume %} <span class="nav-other-websites-desc bi bi-file-person"></span></a></li>
          <li class="nav-item dropdown ms-3 {{include.classInclude}}">
            <a class="nav-link dropdown-toggle align-self-center" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              {% if site.lang == "fr" %}
              Français
              {% else %}
              English
              {% endif %}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li class="dropdown-item"><a href="{% tl {{page.namespace}} fr %}" class="nav-link">Français</a></li>
              <li class="dropdown-item"><a href="{% tl {{page.namespace}} en %}" class="nav-link">English</a></li>
            </ul>
          </li>