<div class="px-3 pt-3 my-0 pb-0 text-left container-fat">

  <div class="col-12 col-md-10 col-lg-8 d-none d-md-block">
    <div class="row">
      <div class="col-md-2 col-3">
        <a href="/" class="btn btn-outline-light">
          <img class="rounded-circle w-100" alt="Profile picture" src="{{ "/assets/images/photo_linkedin.jpg" | relative_url }}" />
        </a>
      </div>
      <div class="col-md-8 col-6 d-flex row">
        <a href="/" class="btn btn-outline-light"><h1 class="col-12 fw-bold">Amaury Butaux</h1></a>
        <h3 class="col-12 fw-bold">Junior Game Designer</h3>
        <h6 class="col-12 fw-bold">Looking for a 6 months internship</h6>
      </div>
      <div class="col-md-2 col-3 d-flex row">
        <ul class="list-unstyled align-self-end flex-column col-12 row">
          <div class="col-12"><a class="badge badge-light" href="https://linkedin.com/in/amaury-butaux"><li class="bi bi-linkedin"><span class="nav-other-websites-desc"> LinkedIn</span></li></a></div>
          <div class="col-12"><a class="badge badge-light" href="https://oramy.itch.io"><li><img src="{{"/assets/images/itchio-textless-black.svg" | relative_url }}" alt="itch.io icon" class="inline-image"/><span class="nav-other-websites-desc"> itch.io</span></li></a></div>
          <div class="col-12"><a class="badge badge-light" href="{{"/resume.pdf" | relative-url}}"><li class="bi bi-file-person"><span class="nav-other-websites-desc"> Resume</span></li></a></div>
        </ul>
      </div> 
    </div>
  </div>
  <div class="col-12 col-md-10 col-lg-8 d-block d-md-none">
    <div class="row">
      <div class="col-3">
        <a href="/" class="btn btn-outline-light">
          <img class="rounded-circle w-100" alt="Profile picture" src="{{ "/assets/images/photo_linkedin.jpg" | relative_url }}" />
        </a>
      </div>
      <div class="col-9 d-flex row">
        <ul class="list-unstyled align-self-end flex-column col-12 row">
          <div class="col-12"><a class="badge badge-light" href="https://linkedin.com/in/amaury-butaux"><li class="bi bi-linkedin"><span class="nav-other-websites-desc"> LinkedIn</span></li></a></div>
          <div class="col-12"><a class="badge badge-light" href="https://oramy.itch.io"><li><img src="{{"/assets/images/itchio-textless-black.svg" | relative_url }}" alt="itch.io icon" class="inline-image"/><span class="nav-other-websites-desc"> itch.io</span></li></a></div>
          <div class="col-12"><a class="badge badge-light" href="https://www.amaurybutaux.com/resume.pdf"><li class="bi bi-file-person"><span class="nav-other-websites-desc"> Resume</span></li></a></div>
        </ul>
      </div> 
      <div class="col-12 d-flex row">
        <a href="/" class="btn btn-outline-light"><h1 class="col-12 fw-bold">Amaury Butaux</h1></a>
        <h3 class="col-12 fw-bold">Junior Game Designer</h3>
        <h6 class="col-12 fw-bold">Looking for a 6 months internship</h6>
      </div>
    </div>
  </div>
  <hr class="mb-5">
</div>