<div class="px-3 pt-3 my-0 pb-0 text-left container-fat">

  <div class="col-12 col-md-10 col-lg-8 d-none d-md-block">
    <div class="row">
      <div class="col-md-2 col-3">
        <a href="/" class="btn btn-outline-light">
          <img class="rounded-circle w-100" alt="Profile picture" src="{{ "/assets/images/photo_linkedin.webp" | relative_url }}" />
        </a>
      </div>
      <div class="col-md-8 col-6">
        <a href="/" class="btn btn-outline-light d-flex"><h1 class="fw-bold">Amaury Butaux</h1></a>
        <h3 class="col-12 fw-bold">Junior Game Designer</h3>
        <h6 class="col-12 fw-bold">Looking for a 6 months internship</h6>
      </div>
      <div class="col-md-2 col-3 d-flex row">
        <ul class="list-unstyled align-self-end flex-column col-12 row">
          <li class="col-12"><a class="badge bg-light text-dark" href="https://linkedin.com/in/amaury-butaux"><span class="nav-other-websites-desc bi bi-linkedin"> LinkedIn</span></a></li>
          <li class="col-12"><a class="badge bg-light text-dark" href="https://oramy.itch.io"><img src="{{"/assets/images/itchio-textless-black.svg" | relative_url }}" alt="itch.io icon" class="inline-image"/><span class="nav-other-websites-desc"> itch.io</span></a></li>
          <li class="col-12"><a class="badge bg-light text-dark" href="{{"/resume.pdf" | relative-url}}"><span class="nav-other-websites-desc bi bi-file-person"> Resume</span></a></li>
        </ul>
      </div> 
    </div>
  </div>
  <div class="col-12 col-md-10 col-lg-8 d-block d-md-none">
    <div class="row">
      <div class="col-3">
        <a href="/" class="btn btn-outline-light">
          <img class="rounded-circle w-100" alt="Profile picture" src="{{ "/assets/images/photo_linkedin.webp" | relative_url }}" />
        </a>
      </div>
      <div class="col-9 d-flex row">
        <ul class="list-unstyled align-self-end col-12 row">
          <li class="col-4"><a class="py-3 d-inline-block" href="https://linkedin.com/in/amaury-butaux"><span class="badge bg-light text-dark nav-other-websites-desc bi bi-linkedin"> LinkedIn</span></a></li>
          <li class="col-4"><a class="py-3 d-inline-block" href="https://oramy.itch.io"><span class="badge bg-light text-dark"><img src="{{"/assets/images/itchio-textless-black.svg" | relative_url }}" alt="itch.io icon" class="inline-image"/><span class="nav-other-websites-desc"> itch.io</span></span></a></li>
          <li class="col-4"><a class="py-3 d-inline-block" href="{{"/resume.pdf" | relative-url}}"><span class="badge bg-light text-dark nav-other-websites-desc bi bi-file-person"> Resume</span></a></li>
        </ul>
      </div> 
      <div class="col-12">
        <a href="/" class="btn btn-outline-light d-flex"><h1 class="fw-bold">Amaury Butaux</h1></a>
        <h3 class="col-12 fw-bold">Junior Game Designer</h3>
        <h6 class="col-12 fw-bold">Looking for a 6 months internship</h6>
      </div>
    </div>
  </div>
  <hr class="mb-5">
</div>