<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-center g-4">
{% assign index = 0 %}
{% for project_hash in include.projects %}
{% assign project = project_hash[1] %}
{% assign project_id = project_hash[0] %}
{% assign tproject = site.data.i18n.[site.lang].projects[project_id] %}
{% unless project.hidden %}
{% assign index = index | plus: 1 %}
<div class="col py-0 my-0">
<div class="card h-100 p-0 text-left">
    <a class="clickable-card link-unstyled bg-light" href="{% tl {{project.dedicated-page}} %}">
        <div class="card-content">
            <div class="card-mouse-anim">
            <div class="face-back bg-light preserve-3D">
                <div class="card-img-top card-thumbnail h-50 p-0">
                    {% assign imageFile = project.thumbnail | split: "."%}
                    <picture>
                        {% unless image contains "gif" %}
                            <source type="image/webp" srcset="{{imageFile[0]}}.webp">
                        {% endunless %}
                        <source type="image/{{imageFile[1]}}" srcset="{{imageFile[0]}}.{{imageFile[1]}}">
                        <img class="card-img-top fill-image h-100" width="16" height="9" src="{{ project.thumbnail | prepend: site.baseurl_root }}" alt="{{ project.title }}">
                    </picture>
                </div>
                <div class="card-body preserve-3D">
                <h3 class="card-title text-dark translateZ-10">{{ tproject.title }}</h3>
                <p class="card-text text-dark translateZ-5">{{ tproject.short-description }}</p>
                    <div class="p-0 mt-auto" >
                        {% include badges.html badges=project.badges %}
                    </div>
                </div>
            </div>
            <div class="face-front bg-light d-none d-sm-block">
                <div class="card-img card-back">
                    <div class="position-absolute rounded overflow-hidden w-100 h-100">
                        {% assign imageFile = project.thumbnail | split: "."%}
                        <picture>
                            {% unless image contains "gif" %}
                                <source type="image/webp" srcset="{{imageFile[0]}}.webp">
                            {% endunless %}
                            <source type="image/{{imageFile[1]}}" srcset="{{imageFile[0]}}.{{imageFile[1]}}">
                            <img class="card-img card-img-back" width="649" height="365" src="{{ project.big-thumbnail | prepend: site.baseurl_root }}" alt="{{ project.title }}">
                        </picture>
                    </div>
                    <div class="card-back-text d-flex">
                        <div class="card-title text-dark display-5 text-center bg-light py-3 w-100 my-auto fs-3">{{ tproject.title }}</div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </a>
</div>
</div>
{% assign remainder2 = index | modulo: 2 %}
{% assign remainder3 = index | modulo: 3 %}
{% assign remainder4 = index | modulo: 4 %}

{% if remainder4 == 0 %}
<div class="w-100 my-2 d-none d-lg-block"></div>
{% endif %}
{% if remainder3 == 2 %}
<div class="w-100 my-2 d-none d-md-block d-lg-none"></div>
{% endif %}
{% if remainder2 == 0 %}
<div class="w-100 my-2 d-none d-sm-block d-md-none"></div>
{% endif %}
<div class="w-100 my-2 d-block d-sm-none"></div>
{% endunless %}
{% endfor %}
</div>