<div class="card-deck">
{% assign index = 0 %}
{% for project_hash in include.projects %}
{% assign project = project_hash[1] %}
{% unless project.hidden %}
{% assign index = index | plus: 1 %}
<div class="card p-0 text-left">
    <div class="card-img-top card-thumbnail">
    <img class="card-img-top fill-image" src="{{ project.thumbnail | relative_url }}" alt="{{ project.title }}">
    </div>
    <div class="card-body d-flex flex-column">
    <h4 class="card-title text-dark">{{ project.title }}</h4>
    <p class="card-text text-dark">{{ project.short-description }}</p>
        <div class="p-0 mt-auto" >
        {% for line in project.badges %}
        {% for badge in line %}
        {% assign badge_data = site.data.badges[badge] %}
        <span class="badge {{ badge_data.style }}">{{ badge_data.title }}</span>
        {% endfor %}
        {% unless forloop.last %}
        <br />
        {% endunless %}
        {% endfor %}
        </div>
    </div>
</div>
{% assign remainder2 = index | modulo: 2 %}
{% assign remainder3 = index | modulo: 3 %}
{% assign remainder4 = index | modulo: 4 %}

{% if remainder4 == 0 %}
<div class="w-100 my-2 d-none d-lg-block"></div>
{% endif %}
{% if remainder3 == 2 %}
<div class="w-100 my-2 d-none d-md-block d-lg-none"></div>
{% endif %}
{% if remainder2 == 0 %}
<div class="w-100 my-2 d-none d-sm-block d-md-none"></div>
{% endif %}
<div class="w-100 my-2 d-block d-sm-none"></div>
{% endunless %}
{% endfor %}
</div>