{% assign project = include.project %}
<div class="my-2 py-2">
    <div class="row justify-content-center">
        <div class="col-lg-9 shadow d-none d-lg-block p-3">
            <h2>Infos</h2>
            <hr>
            <p></p>
            <ul>
                <li><b>Genre:</b> {{project.genre}}</li>
                <li><b>Year:</b> {{project.year}}</li>
                <li><b>Tools:</b> {{project.tools}}</li>
            </ul>
            {% include badges.html badges=project.badges %}
            <hr>
          <div class="d-flex flex-column justify-content-center">
            <img class="structure-logo align-self-center mx-3" src="{{ project.structure-logo | relative_url }}" alt="{{project.structure-logo-alt }}" />
            {% if project.title == "Fired Up!" %}
            <img class="structure-logo align-self-center mx-3" src="{{ project.award-logo | relative_url }}" alt="{project.award-logo-alt}" />
            {% endif %}
          </div>
            <hr>
            <a class="btn btn-primary btn-sm" href="{{project.download-page}}" role="button">{{project.download-button}}</a>
        </div>
        <div class="col-12 d-lg-none p-3">
            <h2>Infos</h2>
            <hr>
            <p></p>
            <ul>
                <li><b>Genre:</b> {{project.genre}}</li>
                <li><b>Year:</b> {{project.year}}</li>
                <li><b>Tools:</b> {{project.tools}}</li>
            </ul>
            {% include badges.html badges=project.badges %}
            <hr>
          <div class="d-flex flex-row justify-content-center">
             <div>
               <img class="structure-logo mx-3" src="{{ project.structure-logo | relative_url }}" alt="{{project.structure-logo-alt }}"/>
               {% if project.title == "Fired Up!" %}
               <img class="structure-logo mx-3" src="{{ project.award-logo | relative_url }}" alt="{{project.award-logo-alt }}"/>
               {% endif %}
             </div>
          </div>
            <hr>
            <a class="btn btn-primary btn-sm btn-block" href="{{project.download-page}}" role="button">{{project.download-button}}</a>
        </div>
    </div>
</div>