<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-center g-4">
    {% assign index = 0 %}
    {% for project_hash in include.projects %}
    {% assign project = project_hash[1] %}
    {% assign project_id = project_hash[0] %}
    {% assign tproject = site.data.i18n.[site.lang].projects[project_id] %}
    {% unless project.hidden %}
    {% if project.featured %}
    {% assign index = index | plus: 1 %}
    <div class="col py-0 my-0">
    <div class="card h-100 p-0 text-left">
        <a class="clickable-card link-unstyled bg-light" href="{% tl {{project.dedicated-page}} %}">
            <div class="card-img-top card-thumbnail h-50 p-0">
            {% assign imageFile = project.thumbnail | split: "."%}
            <picture>
                {% unless image contains "gif" %}
                    <source type="image/webp" srcset="{{imageFile[0]}}.webp">
                {% endunless %}
                <source type="image/{{imageFile[1]}}" srcset="{{imageFile[0]}}.{{imageFile[1]}}">
                <img class="card-img-top fill-imag h-100" width="222" height="160" src="{{ project.thumbnail | prepend: site.baseurl_root }}" alt="{{ project.title }}">
            </picture>
            </div>
            <div class="card-body d-flex flex-column">
            <h2 class="card-title text-dark fs-5">{{ tproject.title }}</h2>
            <p class="card-text text-dark">{{ tproject.short-description }}</p>
                {% assign badges-size = project.badges | size %}
                {% unless badges-size == 0 %}
                <div class="p-0 m-0 mt-auto" >
                    {% include badges.html badges=project.badges %}
                </div>
                {% endunless %}
            </div>
        </a>
    </div>
    </div>
    {% assign remainder3 = index | modulo: 3 %}
    {% assign remainder4 = index | modulo: 4 %}
    {% assign remainder2 = index | modulo: 2 %}

    {% if remainder4 == 0 %}
    <div class="w-100 my-2 d-none d-lg-block"></div>
    {% endif %}
    {% if remainder3 == 0 %}
    <div class="w-100 my-2 d-none d-md-block d-lg-none"></div>
    {% endif %}
    {% if remainder2 == 0 %}
    <div class="w-100 my-2 d-none d-sm-block d-md-none"></div>
    {% endif %}
    <div class="w-100 my-2 d-block d-sm-none"></div>
    {% endif %}
    {% endunless %}
    {% endfor %}
</div>