<div class="card-deck justify-content-center">
{% assign index = 0 %}
{% for project_hash in include.projects %}
{% assign project = project_hash[1] %}
{% unless project.hidden %}
{% assign index = index | plus: 1 %}
<div class="card p-0 text-left col-lg-3 col-md-4 col-sm-6 col-12">
    <a class="clickable-card link-unstyled bg-light" href="{{project.dedicated-page}}">
        <div class="card-content">
            <div class="card-mouse-anim">
            <div class="face-back bg-light preserve-3D">
                <div class="card-img-top card-thumbnail">
                    <img class="card-img-top fill-image" src="{{ project.thumbnail | relative_url }}" alt="{{ project.title }}">
                </div>
                <div class="card-body preserve-3D">
                <h4 class="card-title text-dark translateZ-10">{{ project.title }}</h4>
                <p class="card-text text-dark translateZ-5">{{ project.short-description }}</p>
                    <div class="p-0 mt-auto" >
                        {% include badges.html badges=project.badges %}
                    </div>
                </div>
            </div>
            <div class="face-front bg-light d-none d-sm-block">
                <div class="card-img card-back">
                    <div class="position-absolute rounded overflow-hidden w-100 h-100">
                        <img class="card-img card-img-back" src="{{ project.thumbnail | relative_url }}" alt="{{ project.title }}" />
                    </div>
                    <div class="card-back-text d-flex">
                        <h3 class="card-title text-dark display-5 text-center bg-light py-3 w-100 my-auto">{{ project.title }}</h3>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </a>
</div>
{% assign remainder2 = index | modulo: 2 %}
{% assign remainder3 = index | modulo: 3 %}
{% assign remainder4 = index | modulo: 4 %}

{% if remainder4 == 0 %}
<div class="w-100 my-2 d-none d-lg-block"></div>
{% endif %}
{% if remainder3 == 2 %}
<div class="w-100 my-2 d-none d-md-block d-lg-none"></div>
{% endif %}
{% if remainder2 == 0 %}
<div class="w-100 my-2 d-none d-sm-block d-md-none"></div>
{% endif %}
<div class="w-100 my-2 d-block d-sm-none"></div>
{% endunless %}
{% endfor %}
</div>