{% assign downcased = include.name | slugify: "latin" %}

{% if include.active %}
<a class="nav-link active text-end" id="v-pills-{{downcased}}-tab" slug-id="{{downcased}}" data-bs-toggle="pill"
 href="#v-pills-{{downcased}}" role="tab" aria-controls="v-pills-{{downcased}}"
 aria-selected="true">{{include.name}}</a>
{% else %}
<a class="nav-link text-end" id="v-pills-{{downcased}}-tab" slug-id="{{downcased}}" data-bs-toggle="pill"
 href="#v-pills-{{downcased}}" role="tab" aria-controls="v-pills-{{downcased}}"
 aria-selected="false">{{include.name}}</a>
{% endif %}