.dropdown-menu {
   padding-top: 0;
   padding-bottom: 0;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  bottom: auto;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item-background{
  min-height: 100%;
  min-width: 100%;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  filter: blur(5px);
}

.carousel-control-prev-icon,
    .carousel-control-next-icon{
        outline: $black;
        border-radius: 50%;
        background-size: 60%;
        background-color: $black;
        background-position: center;
        opacity: 100%;
    }
.carousel-control-prev-icon {
    background-position: calc(50% - 3px);
}
.carousel-control-next-icon {
    background-position: calc(50% + 3px);
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.paral {
background-repeat: no-repeat;
background-attachment: fixed;

}

.paralsec {
background: 
linear-gradient(
  lighten($primary, 50%), 
  lighten($primary, 55%)
);
}

.inline-image
{
    filter: invert(35%);
    height: 1em;
    vertical-align: -.125em;
}

.carousel-control-big-icon {
  width: 57px;
  height: 57px;
}

.carousel-alt-caption {
  position: absolute;
  right: 0%;
  bottom: 0px;
  left: 0%;
  z-index: 10;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  text-align: center;
}