.fat-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.gradient-nav {
  @include gradient-x-three-colors($light, $gray-400, 50%, $light)
}
html {
  scroll-padding-top: 70px; /* height of sticky header */
}
.on-top-of-nav {
  z-index: 1021;
}

@include media-breakpoint-up(lg) {
  .fat-container {
    max-width: 1320px;
  }
}

@if $enable-grid-classes {
  // Single container class with breakpoint max-widths
  .container-fat,
  // 100% wide container at all breakpoints
  .container-fluid {
    @include make-container();
  }

  // Responsive containers that are 100% wide until a breakpoint
  @each $breakpoint, $container-max-width in $container-max-fat-widths {
    .container-fat-#{$breakpoint} {
      @extend .container-fluid;
    }

    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      %responsive-container-fat-#{$breakpoint} {
        max-width: $container-max-width;
      }

      // Extend each breakpoint which is smaller or equal to the current breakpoint
      $extend-breakpoint: true;

      @each $name, $width in $grid-breakpoints {
        @if ($extend-breakpoint) {
          .container-fat#{breakpoint-infix($name, $grid-breakpoints)} {
            @extend %responsive-container-fat-#{$breakpoint};
          }

          // Once the current breakpoint is reached, stop extending
          @if ($breakpoint == $name) {
            $extend-breakpoint: false;
          }
        }
      }
    }
  }
}