---
layout: post
title: "Cairn Composition Study"
excerpt_separator: <!--more-->
author: Amaury Butaux
---
I loved my experience playing Cairn. The moment to moment gameplay, the narrative and the visuals all
participated with that feeling of being an alpinist. I wanted one Cairn screenshots that really conveys the experience of the game.
<!--more-->
<br />
<br />
            {% include image-comparison.html image1="/assets/images/ui-training/cairn-study-1.png"
                        image2="/assets/images/ui-training/cairn-study-ref-1.png"  %}

                          {%- capture md -%}
Overall I think this works pretty well.
- Not representing the character leaves the image without its meaning so it is a big flaw of my study.
- The image lacks depth, details & texture.
- It would have helped to draw clouds with a softer brush & take the time to represent how the light hits them.  

### Foreground cliff
I am pretty happy with the color blocking of the foreground cliff.  
We do understand that it is made of rock. It is missing some cracks & roughness to really convey this aspect.  
I built this foreground by creating the overall shape with the lit color.
Then I added the shadows color and finished with the greener rock color & some cracks.  
I think I should have done:
- Blockout silhouette
- Place some cracks
- Create non-destructive shadows with a product layer
- Paint rock textures
  
The colors & contrasts fail to represent the sun hitting & warming up the stones.  

### Other elements
I need to find the **smudge tool** in Affinity to control my gradients more effectively.
To trace out hard edges, **using the lasso tool & polygonal lasso** would have helped defining shapes.
This would have helped tracing the line between ground & cliffs in the background for example.  

I also want to learn how to paint clouds & rocks.

## Rock study

### Version 1
As I was struggling a bit at representing the cliff & rock textures
I tried to represent a smaller piece of rock in this study.
                {%- endcapture -%}
                {{md | markdownify}}

            {% include image-comparison.html image1="/assets/images/ui-training/rock-study.png"
                        image2="/assets/images/ui-training/rock-study-ref.png"  %}

                          {%- capture md -%}
I am really fond of the sun colors hitting the stone in this one.
The big shadow is inconsistent with the small ones though.  
I could have also used more shadows & texture variation to carve out
more the different shapes of the rock.

#### Version 2
                {%- endcapture -%}
                {{md | markdownify}}
            {% include image-comparison.html image1="/assets/images/ui-training/rock-study-alt.png"
                        image2="/assets/images/ui-training/rock-study-ref.png"  %}
                A second study to work more on values and trying to stress out faces & bevels more.
                <br/>
                <br/>