---
layout: post
title: "Absolum Compo & UI Study"
excerpt_separator: <!--more-->
author: Amaury Butaux
---
Absolum has a great looking art style & UI. I painted a menu & one gameplay screen for this study.
<!--more--> 
{% include image-comparison.html image1="/assets/images/ui-training/absolum-study-2.png"
            image2="/assets/images/ui-training/absolum-study-2-ref.png"  %}

{% assign image_list = "1,2,3,4,5" | split: "," %}
{% include image-layers.html image= "/assets/images/ui-training/absolum-study-1-layer-.png" images=image_list %}
