---
layout: post
title: "Atomfall study"
excerpt_separator: <!--more-->
author: Amaury Butaux
---
I picked up this game on gameuidatabase which has a pretty common UI style.
I worked on my blocking skills by doing a rough draft of the background and then did a more in-depth UI study.
<!--more-->

{% include image-comparison.html image1="/assets/images/ui-training/atomfall-study-1.png"
            image2="/assets/images/ui-training/atomfall-study-ref-1.png"  %}
              {%- capture md -%}
    First study: subtitles.
    {%- endcapture -%}
    {{md | markdownify}}
{% include image-comparison.html image1="/assets/images/ui-training/atomfall-study-2.png"
            image2="/assets/images/ui-training/atomfall-study-ref-2.png"  %}
              {%- capture md -%}
    Second study: dialogue choice.
    {%- endcapture -%}
    {{md | markdownify}}
<br/>
