<h3 class="mb-4">{% t spike.balancing.title %}</h3>
<div class="row">
    <div class="col-lg-6">
        <h4>{% t spike.balancing.implementing.title %}</h4>
        <p>{% t spike.balancing.implementing.content %}</p>
    </div>
    <div class="col-lg-6">
        <h4>{% t spike.balancing.balancing-enemies.title %}</h4>
        <p>{% t spike.balancing.balancing-enemies.content %}</p>
    </div>
    <div class="col-lg-12">
        {% assign image_list = "
                    /assets/images/spike/design-documents/ai-design/ai-animator-spike-catcher.png;Spike catcher animator,
                    /assets/images/spike/design-documents/ai-design/ai-fsm-spike-catcher.png;Spike catcher FSM,
                    /assets/images/spike/design-documents/ai-balancing.png;Spike catcher balancing
                  " | split: "," %}
        {% capture captions %}{% t spike.balancing.caption-list %}{% endcapture %}
        {% assign caption_list = captions | split: ";" %}
        {% include image_carousel.html images=image_list captions=caption_list carousel-id="spike-carousel-implementing-enemies" %}
    </div>
</div>