<h3 class="mb-4">{% t spike.design-presentations.title %}</h3>
<div class="row justify-content-lg-center">
    <p class="col-12">{% t spike.design-presentations.content %}</p>
    <div class="col-12">
        {% assign image_list = "
                  /assets/images/spike/design-documents/game-design-presentation/game-design-presentation1.png; Spike Game Design Presentation 1,
                  /assets/images/spike/design-documents/game-design-presentation/game-design-presentation2.png; Spike Game Design Presentation 2,
                  /assets/images/spike/design-documents/game-design-presentation/game-design-presentation6.png; Spike Game Design Presentation 3,
                  /assets/images/spike/design-documents/game-design-presentation/game-design-presentation7.png; Spike Game Design Presentation 4,
                  /assets/images/spike/design-documents/game-design-presentation/game-design-presentation8.png; Spike Game Design Presentation 5,
                  /assets/images/spike/design-documents/game-design-presentation/game-design-presentation9.png; Spike Game Design Presentation 6,
                  /assets/images/spike/design-documents/game-design-presentation/game-design-presentation10.png; Spike Game Design Presentation 7,
                  /assets/images/spike/design-documents/game-design-presentation/game-design-presentation11.png; Spike Game Design Presentation 8,
                  /assets/images/spike/design-documents/game-design-presentation/game-design-presentation12.png; Spike Game Design Presentation 9" | split: "," %}
        {% capture captions %}{% t spike.design-presentations.caption-list %}{% endcapture %}
        {% assign caption_list = captions | split: "," %}
        {% include image_carousel.html images=image_list captions=caption_list loop-caption="true" carousel-id="spike-carousel-design-presentation-specifications" %}
    </div>
</div>