<h3 class="mb-4">{% t spike.enemy-design.title %}</h3>
<div class="row">
    <div class="col-lg-6">
        <h4>{% t spike.enemy-design.3Cs.title %}</h4>
        <p>{% t spike.enemy-design.3Cs.content %}</p>
        <h4>{% t spike.enemy-design.constraints.title %}</h4>
        <p>{% t spike.enemy-design.constraints.content %}</p>
    </div>
    <div class="col-lg-6">
        {% assign image_list = "
                  /assets/images/spike/mob-gifs/termite-idle-gif.gif;Termite monster idle animation,
                  /assets/images/spike/mob-gifs/spike-catcher-idle-gif.gif;Spike catcher idle animation,
                  /assets/images/spike/mob-gifs/mosquitoe-idle-gif.gif;Mosquitoe idle animation,
                  /assets/images/spike/mob-gifs/firefly-idle-gif.gif;Firefly idle animation
                  " | split: "," %}
        {% capture captions %}{% t spike.enemy-design.caption-list %}{% endcapture %}
        {% assign caption_list = captions | split: ";" %}
        {% include image_carousel.html images=image_list captions=caption_list carousel-id="spike-mob-design-carousel" %}
    </div>
</div>