<h3 class="mb-4">{% t spike.fast-prototyping.title %}</h3>
<div class="row">
    <div class="col-lg-6">
        <img class="d-block w-100 mb-5" src="/assets/images/spike/fast-prototyping/fast-prototyping-breakable.gif">
    </div>
    <div class="col-lg-6">
        <h4>{% t spike.fast-prototyping.3Cs.title %}</h4>
        <p>{% t spike.fast-prototyping.3Cs.content %}</p>
        <h4>{% t spike.fast-prototyping.toys.title %}</h4>
        <p>{% t spike.fast-prototyping.toys.content %}</p>
    </div>
</div>