<h3 class="mb-4">{% t spike.feature-asset-lists.title %}</h3>
<div class="row">
    <div class="col-lg-12">{% t spike.feature-asset-lists.description %}
    </div>
    <div class="col-lg-12">
        {% assign image_list = "
                  /assets/images/spike/design-documents/asset-lists/asset-list-actions-and-decisions.png;Notion asset list of actions & decisions,
                  /assets/images/spike/design-documents/asset-lists/asset-list-signs-and-feedback.png;Signs & feedback asset list,
                  /assets/images/spike/design-documents/asset-lists/asset-list-animations-excerpt.png;Animations asset list
                  " | split: "," %}
        {% capture captions %}{% t spike.feature-asset-lists.caption-list %}{% endcapture %}
        {% assign caption_list = captions | split: ";" %}
        {% include image_carousel.html images=image_list captions=caption_list carousel-id="spike-carousel-feature-asset-lists" %}
    </div>
</div>