<h3 class="mb-4">{% t fired-up.one-page.title %}</h3>
<div class="row">
    <div class="col-12 col-md-6">
        <a href="/assets/images/fired_up/design_documents/One_Page_Burnout.png" id="pop">
            <img class="img-thumbnail img-fluid" id="imageresource"
                src="/assets/images/fired_up/design_documents/One_Page_Burnout.webp" alt="Fired up one page">
        </a>
        <a class="badge bg-primary" href="/assets/images/fired_up/design_documents/One_Page_Burnout.png">
            {% t click-to-enlarge %}
        </a>
    </div>
    <div class="col-12 col-md-6">
        <h4>{% t fired-up.one-page.reminder.title %}</h4>
        <p>{% t fired-up.one-page.reminder.content %}</p>
        <h4>{% t fired-up.one-page.cuts.title %}</h4>
        <p>{% t fired-up.one-page.cuts.content %}</p>
    </div>
</div>