<h3 class="mb-4">Research</h3>
<div class="row">
    <div class="col-lg-6">
        <h4>{% t fired-up.research.decisions-title %}</h4>
        <p>{% t fired-up.research.decisions-content %}</p>

        <h4>{% t fired-up.research.level-design-title %}</h4>
        <p> {% t fired-up.research.level-design-content %}
        </p>
    </div>
    <div class="col-lg-6">
        {% assign image_list = "
                  /assets/images/fired_up/design_documents/systemic_gd_research_overview_square.png,
                  /assets/images/fired_up/design_documents/verticality_research_overview.png,
                  /assets/images/fired_up/design_documents/exploration_ld_lvl3_square.gif
                  " | split: "," %}

        {% capture captions %}{% t fired-up.research.caption-list %}{% endcapture %}
        {% assign caption_list = captions | split: "," %}
        {% include image_carousel.html images=image_list captions=caption_list carousel-id="fired_up_carousel_research" %}
    </div>
</div>