<h3 class="mb-4">Team work</h3>
<div class="row">
    <div class="col-lg-6">
        {% assign image_list = "
                  /assets/images/fired_up/design_documents/miro-brainstorming-zoomed-in.png,
                  /assets/images/fired_up/design_documents/GD_presentation.png
                  " | split: "," %}
        {% assign caption_list = "
                  Brainstorming organized on Miro,
                  Synthetic presentations to share the latest key decisions to the team.
                  " | split: "," %}
        {% include image_carousel.html images=image_list captions=caption_list carousel-id="fired_up_carousel_communication" %}
    </div>
    <div class="col-lg-6">
        <h4>Including the team</h4>
        <p>
            We <b>gathered ideas</b> during <b>brainstorming</b> sessions
            that we would then <b>filter and refine</b> to get to
            mechanics matching our intentions and scope.
        </p>
        <h4>Keeping the team informed</h4>
        <p>
            We also held small and short meetings to <b>keep the team updated</b> with
            <b>key decisions</b> in the beginning of the project.
        </p>
        <h4>Working with programmers</h4>
        <p>
            My <b>engineering skills</b> allowed me to easily <b>understand
                programming challenges</b> and to design features with the <b>right
                level of detail</b>.
        </p>
    </div>
</div>