<h3 class="mb-4">Team work</h3>
<div class="row">
    <div class="col-lg-6">
        {% assign image_list = "
                  /assets/images/fired_up/design_documents/miro-brainstorming-zoomed-in.png,
                  /assets/images/fired_up/design_documents/GD_presentation.png
                  " | split: "," %}
        {% assign caption_list = "
                  " | split: "," %}
        {% capture captions %}{% t fired-up.teamwork.caption-list %}{% endcapture %}
        {% assign caption_list = captions | split: "," %}
        {% include image_carousel.html images=image_list captions=caption_list carousel-id="fired_up_carousel_communication" %}
    </div>
    <div class="col-lg-6">
        <h4>{% t fired-up.teamwork.including.title %}</h4>
        <p>{% t fired-up.teamwork.including.content %}</p>
        <h4>{% t fired-up.teamwork.informing.title %}</h4>
        <p>{% t fired-up.teamwork.informing.content %}</p>
        <h4>{% t fired-up.teamwork.programmers.title %}</h4>
        <p>{% t fired-up.teamwork.programmers.content %}</p>
    </div>
</div>